@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
.home_main_container {
  height: 100vh;
  width: 100%;
}
.home_main_container .photo_holder_container {
  position: relative;
  display: flex;
}
.home_main_container .photo_holder_container img {
  width: 100%;
  height: 700px;
  transform: scaleX(-1);
}
.home_main_container .photo_holder_container .overlap_image_container {
  height: 100%;
  width: 50%;
  position: absolute;
  background-image: linear-gradient(90deg, rgb(7, 146, 173), rgb(7, 146, 173), transparent);
  display: flex;
  place-content: center;
  padding: 20px;
  flex-direction: column;
  row-gap: 20px;
}
.home_main_container .photo_holder_container .overlap_image_container h1 {
  color: white;
  font-size: 70px;
}
.home_main_container .photo_holder_container .overlap_image_container h3 {
  color: white;
  font-size: 30px;
}
.home_main_container .photo_holder_container .overlap_image_container p {
  color: white;
  font-size: 20px;
}
.home_main_container .photo_holder_container .filter_box_container {
  height: 120px;
  width: 60%;
  background-color: white;
  box-shadow: 2px 2px 20px rgb(7, 146, 173);
  border-radius: 20px;
  position: absolute;
  bottom: -50px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  place-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 10px;
}
.home_main_container .photo_holder_container .filter_box_container .filter_select {
  height: 90%;
  width: 33.33%;
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
  font-weight: bold;
}
.home_main_container .photo_holder_container .filter_box_container .filter_select h3 {
  font-size: 25px;
}
.home_main_container .photo_holder_container .filter_box_container .filter_select #nepalcity {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 50px;
  border: 3px solid rgb(7, 146, 173);
  border-radius: 15px;
  text-align: center;
}
.home_main_container .photo_holder_container .filter_box_container .filter_select #nepalcity:focus {
  outline: none;
}
.home_main_container .photo_holder_container .filter_box_container .filter_select .datetime {
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
  border: 3px solid rgb(7, 146, 173);
}
.home_main_container .photo_holder_container .navigation_container {
  width: 50%;
  position: absolute;
  z-index: 1;
  right: 50px;
  margin-top: 5px;
}
.home_main_container .photo_holder_container .navigation_container ul {
  list-style: none;
  display: flex;
  padding: 4px;
  float: right;
}
.home_main_container .photo_holder_container .navigation_container ul li {
  color: white;
  margin-left: 20px;
  font-size: 20px;
}

.search_by_place_container {
  height: 200px;
  width: 100%;
  height: 400px;
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
  row-gap: 20px;
}
.search_by_place_container h1 {
  font-size: 35px;
}
.search_by_place_container .place_folder_container {
  height: 70%;
  width: 100%;
  display: flex;
  place-content: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  transition: 0.5s ease;
}
.search_by_place_container .place_folder_container .photo_holder {
  height: 200px;
  width: 300px;
  position: relative;
  padding: 10px;
  transition: 0.5s ease;
}
.search_by_place_container .place_folder_container .photo_holder h3 {
  font-size: 20px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  transition: 0.7s ease;
}
.search_by_place_container .place_folder_container .photo_holder:hover h3 {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 15px;
  transform: translateY(-100px);
}
.search_by_place_container .place_folder_container .photo_holder img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: 0.5s ease;
  filter: grayscale(0.6);
}
.search_by_place_container .place_folder_container .photo_holder img:hover {
  border: 3px solid white;
  scale: 1.2;
  filter: grayscale(0);
}

.our_features_container .features_internal_container {
  height: 400px;
  width: 100%;
  display: flex;
  position: relative;
}
.our_features_container .features_internal_container .features_data_container {
  height: 100%;
  position: absolute;
  width: 50%;
  background-image: linear-gradient(90deg, #cad8db, #cad8db, transparent);
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
}
.our_features_container .features_internal_container .features_data_container h1 {
  font-size: 50px;
}
.our_features_container .features_internal_container .features_data_container h3 {
  font-size: 25px;
}
.our_features_container .features_internal_container .list_of_features {
  position: absolute;
  height: 100%;
  right: 50%;
  transform: translate(100%);
  z-index: 5;
  display: flex;
  place-content: center;
  place-items: center;
}
.our_features_container .features_internal_container .list_of_features ul {
  list-style-image: url("../../assets/icons8-tick-box.svg");
}
.our_features_container .features_internal_container .list_of_features ul li {
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
}
.our_features_container .features_internal_container .features_image_container {
  right: 0;
  height: 100%;
  position: absolute;
  width: 50%;
}
.our_features_container .features_internal_container .features_image_container img {
  height: 100%;
  width: 100%;
  transform: scaleX(-1);
}

.mobile_app_container {
  height: 300px;
  width: 100%;
  position: relative;
  background-image: linear-gradient(90deg, transparent, rgb(220, 247, 249), transparent);
  display: flex;
  place-content: center;
  place-items: center;
  margin-top: 100px;
}
.mobile_app_container h1 {
  text-align: center;
}
.mobile_app_container .mobile {
  max-width: 600px;
  position: absolute;
  left: 20px;
}
.mobile_app_container .play_store {
  max-width: 300px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px white;
  position: absolute;
  right: 70px;
}

.qualities_container {
  height: 600px;
}
.qualities_container h1 {
  font-size: 50px;
  text-align: center;
}
.qualities_container .qualities_internal_container {
  display: flex;
  place-content: center;
  place-items: center;
  background-image: linear-gradient(90deg, #cad8db, transparent, transparent, #cad8db);
  height: 100%;
}
.qualities_container .qualities_internal_container .slider_container {
  width: 80%;
}
.qualities_container .qualities_internal_container .slider_container .slick-prev, .qualities_container .qualities_internal_container .slider_container .slick-next {
  color: white;
  font-size: 50px;
}
.qualities_container .qualities_internal_container .slider_container .slick-dots li button::before {
  color: rgb(7, 146, 173);
  font-size: 20px;
  margin: 10px;
}
.qualities_container .qualities_internal_container .slider_container .slick-dots li {
  margin-right: 20px;
}
.qualities_container .qualities_internal_container .slider_container .slick-slide {
  padding: 10px;
}
.qualities_container .qualities_internal_container .slider_container .slick-slide .slider_child {
  height: 400px;
  border-radius: 15px;
  color: white;
  display: flex;
  place-content: center;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
.qualities_container .qualities_internal_container .slider_container .slick-slide .slider_child:hover {
  filter: grayscale(0);
}
.qualities_container .qualities_internal_container .slider_container .slick-slide .slider_child span {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(transparent, transparent, rgba(18, 18, 18, 0.5), rgb(46, 45, 45));
}
.qualities_container .qualities_internal_container .slider_container .slick-slide .slider_child h1 {
  position: absolute;
  bottom: 35%;
  z-index: 2;
  font-size: 30px;
  left: 10%;
  text-align: center;
}
.qualities_container .qualities_internal_container .slider_container .slick-slide .slider_child h3 {
  position: absolute;
  z-index: 2;
  bottom: 10%;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.user_tabulation_table_container {
  margin-top: 20px;
  height: 400px;
  width: 100%;
  background-image: linear-gradient(90deg, transparent, rgb(220, 247, 249), transparent);
  display: flex;
  place-content: center;
}
.user_tabulation_table_container .tabulation_internal_container {
  display: flex;
  place-items: center;
  place-content: center;
  padding: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.user_tabulation_table_container .tabulation_internal_container .total {
  height: 200px;
  width: 300px;
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
}
.user_tabulation_table_container .tabulation_internal_container .total .data {
  font-size: 80px;
  background: linear-gradient(to right, rgb(7, 146, 173), rgb(135, 12, 149));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.user_tabulation_table_container .tabulation_internal_container .total .title {
  font-size: 40px;
  background: linear-gradient(to right, rgb(7, 146, 173), rgb(135, 12, 149));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.user_tabulation_table_container .tabulation_internal_container .header_container {
  display: flex;
  width: 400px;
}
.user_tabulation_table_container .tabulation_internal_container .header_container .tabulation_header {
  font-size: 70px;
  place-self: center;
}

.footer_container {
  height: 500px;
  width: 100%;
  background-image: linear-gradient(90deg, rgb(7, 146, 173), rgb(135, 12, 149));
}

.ads_container {
  height: 200px;
  width: 100%;
  z-index: -10;
}/*# sourceMappingURL=homepage.css.map */