@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


$global:rgb(7, 146, 173);
$hover-color:rgb(3, 56, 82);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: 'Fredoka One', cursive;
    // font-family: 'Righteous', cursive;
    font-family: 'Cabin', sans-serif;
    // list-style: none;

}

body{
    color: rgb(72, 72, 72);
}

button{
    height: 60px;
    width: 200px;
    border: none;
    border-radius: 15px;
    background-color: $global;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: .3s ease-in-out;
    cursor: pointer;
    &:hover{
        background-color: $hover-color;
    }
}

.line_button{
    background-color: transparent;
    height: default;
    height: 50px;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    transition: .5s ease;
    cursor: pointer;
    &:hover{
        background-color: $global;
    }
}

.cut_line{
    border-color: transparent;
    &:hover{
        text-decoration: underline;
        background-color: transparent;
    }
}

.hover_color{
    background-color: $hover-color;
    &:hover{
        background-color: rgb(7, 100, 146);
    }
}


