@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
:root {
  --global: rgb(7, 146, 173);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

body {
  color: rgb(72, 72, 72);
}

.App {
  max-width: 1920px;
  background-color: white;
  margin: 0 auto;
}

button {
  font-weight: bold;
  border: none;
}

.global_button {
  height: 60px;
  width: 200px;
  border: none;
  border-radius: 15px;
  background-color: rgb(7, 146, 173);
  font-size: 20px;
  font-weight: bold;
  color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.global_button:hover {
  background-color: rgb(3, 56, 82);
}

.line_button {
  background-color: transparent;
  height: default;
  height: 50px;
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}
.line_button:hover {
  background-color: rgb(7, 146, 173);
}

.cut_line {
  border-color: transparent;
}
.cut_line:hover {
  text-decoration: underline;
  background-color: transparent;
}

.hover_color {
  background-color: rgb(3, 56, 82);
}
.hover_color:hover {
  background-color: rgb(7, 100, 146);
}

.filter_box_container {
  display: flex;
  place-items: center;
  padding: 5px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  background-color: white;
}
.filter_box_container .filter_select {
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
  font-weight: bold;
  /*#nepalcity {
          font-family: 'Cabin', sans-serif;
          font-size: 20px;
          font-weight: bold;
          width: 200px;
          height: 50px;
          border: 3px solid $global;
          border-radius: 15px;
          text-align: center;
          overflow-y: auto;

          &:focus {
              outline: none;
          } 
      } */
}
.filter_box_container .filter_select h3 {
  font-size: 20px;
}
.filter_box_container .filter_select .filter_button {
  width: 120px;
  height: 50px;
  border-radius: 10px;
}
.filter_box_container .filter_select .datetime,
.filter_box_container .filter_select .react-date-picker__wrapper {
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  width: 100%;
  font-weight: bold;
  border: 2px solid rgb(7, 146, 173);
  text-align: center;
}
.filter_box_container .filter_select img {
  max-height: 100px;
  max-width: 200px;
  position: absolute;
  left: 10px;
}
.filter_box_container .filter_select .filter_login_signup {
  position: absolute;
  right: 20px;
}

.ourstay_calendar {
  font-size: 1.4em;
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  top: calc(100% + 10px);
  right: 40%;
  width: 100%;
  z-index: 10;
}
.ourstay_calendar .react-calendar__tile {
  font-size: 18px;
}
.ourstay_calendar .react-calendar__navigation__label {
  font-size: 18px;
  background-color: rgb(7, 146, 173);
  color: white;
  border-radius: 10px;
}
.ourstay_calendar .react-calendar__navigation__label:hover {
  color: black;
}
.ourstay_calendar .react-calendar__navigation__arrow {
  font-size: 25px;
}
.ourstay_calendar .react-calendar__tile--active {
  background-color: rgb(7, 146, 173);
}

.time_container {
  position: absolute;
  height: 310px;
  max-width: 500px;
  width: 300px;
  background-color: white;
  box-shadow: 2px 2px 15px rgb(168, 167, 167);
  border-radius: 10px;
  padding: 10px;
  z-index: 999;
  top: calc(100% + 5px);
}
.time_container .internal_time_container .am_pm_container {
  width: 100%;
  height: 20%;
  display: flex;
  place-content: center;
  place-items: center;
}
.time_container .internal_time_container .am_pm_container .time_button {
  height: 50px;
  width: 100px;
  font-size: 15px;
  cursor: pointer;
}
.time_container .internal_time_container .am_pm_container .am_button {
  border-radius: 10px 0px 0px 10px;
}
.time_container .internal_time_container .am_pm_container .pm_button {
  border-radius: 0px 10px 10px 0px;
}
.time_container .internal_time_container .am_pm_container .am_pm_active {
  background-color: rgb(7, 146, 173);
  color: white;
}
.time_container .internal_time_container .time_tabulation_container {
  height: 80%;
}
.time_container .internal_time_container .time_tabulation_container .time_internal_tabulation_container {
  height: 50%;
}
.time_container .internal_time_container .time_tabulation_container .time_internal_tabulation_container .time_data_tabulation {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 20px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 10px;
}
.time_container .internal_time_container .time_tabulation_container .time_internal_tabulation_container .time_data_tabulation .time_box {
  height: 40px;
  width: 70px;
  background-color: rgb(230, 229, 229);
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.time_container .internal_time_container .time_tabulation_container .time_internal_tabulation_container .time_data_tabulation .time_box:hover {
  background-color: rgb(213, 206, 206);
}
.time_container .internal_time_container .time_tabulation_container .time_internal_tabulation_container .time_data_tabulation .time_box_am {
  display: none;
}
.time_container .internal_time_container .time_tabulation_container .time_internal_tabulation_container .time_data_tabulation .time_box_pm {
  display: none;
}
.time_container .internal_time_container .time_tabulation_container .time_internal_tabulation_container .time_data_tabulation .time_box_active {
  background-color: rgb(7, 146, 173);
  color: white;
}
.time_container .internal_time_container .time_tabulation_container .time_internal_tabulation_container .time_data_tabulation .time_box_active:hover {
  color: black;
}
.time_container .internal_time_container .time_tabulation_container .time_internal_tabulation_container .time_data_tabulation .time_box_inactive {
  text-decoration: line-through;
}

.explore_main_container {
  position: relative;
  width: 100%;
}
.explore_main_container .explore_navigation_container {
  display: flex;
  place-content: center;
  background-image: linear-gradient(90deg, rgb(7, 146, 173), white);
  position: sticky;
  top: 0;
  height: 100px;
  place-items: center;
  z-index: 10;
}
.explore_main_container .explore_navigation_container .filter_box_container {
  border-radius: 10px;
  padding: -2px;
  width: 50%;
  font-size: 15px;
}
.explore_main_container .explore_navigation_container .filter_box_container .filter_select h3 {
  font-size: 15px;
}
.explore_main_container .explore_filter_container {
  width: 25%;
  height: 100vh;
  float: right;
  position: sticky;
  top: 100px;
}
.explore_main_container .explore_body_container {
  width: 75%;
  display: flex;
  flex-direction: row-reverse;
}

.explore_hotel_container {
  width: 100%;
  margin-top: 20px;
}
.explore_hotel_container .database_hotels_list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  row-gap: 30px;
  overflow: hidden;
}
.explore_hotel_container .database_hotels_list .hotel_view {
  height: 450px;
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 2px 15px rgb(184, 184, 184);
  transition: 0.2s ease;
  overflow: hidden;
}
.explore_hotel_container .database_hotels_list .hotel_view:hover {
  outline: 4px solid rgb(7, 146, 173);
}
.explore_hotel_container .database_hotels_list .hotel_view .img_box {
  width: 40%;
  cursor: pointer;
  overflow: hidden;
}
.explore_hotel_container .database_hotels_list .hotel_view .img_box img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box {
  width: 50%;
  display: flex;
  flex-direction: column;
  place-items: center;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box .description_box {
  position: relative;
  width: 100%;
  height: 85%;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box .description_box .hotel_title {
  width: 100%;
  padding: 10px;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box .description_box .hotel_title h2 {
  cursor: pointer;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box .description_box .hotel_title h2 span {
  position: absolute;
  font-size: 15px;
  padding: 10px;
  display: flex;
  place-items: center;
  place-content: center;
  background-image: linear-gradient(90deg, purple, rgb(7, 146, 173));
  color: white;
  top: 0;
  right: 0;
  width: 300px;
  transform: translateX(130px) translateY(0px) rotateZ(39deg);
  border-radius: 15px;
  transition: 0.3s ease;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box .description_box .hotel_title h2:hover {
  text-decoration: underline;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box .description_box .rating_box {
  padding: 10px;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box .description_box .location_box {
  padding: 10px;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box .description_box .location_box p {
  display: flex;
  place-items: center;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box .description_box .allowence_feature {
  padding: 10px;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box .description_box .allowence_feature ul {
  list-style: none;
  display: flex;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box .description_box .allowence_feature ul li {
  display: flex;
  justify-content: space-between;
  place-items: center;
  margin: 5px;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box .description_box .room_service {
  padding: 10px;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box .description_box .room_service ul {
  list-style: none;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box .discount_liner {
  width: 100%;
  background-image: linear-gradient(90deg, rgb(213, 239, 249), rgb(188, 248, 252));
  height: 40px;
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box .discount_liner p {
  text-decoration: underline;
  cursor: pointer;
}
.explore_hotel_container .database_hotels_list .hotel_view .content_box .pricing_box {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.book_hotel_container .book_hotel_internal_container .header_container {
  margin-top: 20px;
}
.book_hotel_container .book_hotel_internal_container .header_container h1 {
  font-size: 50px;
  text-align: center;
}
.book_hotel_container .book_hotel_internal_container .city h2 {
  text-align: center;
  font-size: 25px;
}
.book_hotel_container .book_hotel_internal_container .city h3 {
  text-align: center;
  font-size: 20px;
  display: flex;
  place-content: center;
  place-items: center;
  margin-top: 20px;
}
.book_hotel_container .book_hotel_internal_container .rating_box {
  text-align: center;
  margin-bottom: 10px;
}
.book_hotel_container .book_hotel_internal_container .image_box {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  place-content: center;
  place-items: center;
  gap: 10px;
  background-image: linear-gradient(90deg, rgb(219, 219, 219), transparent, rgb(217, 217, 217));
}
.book_hotel_container .book_hotel_internal_container .image_box img {
  height: 400px;
  width: 40%;
  max-width: 700px;
  border-radius: 15px;
}
.book_hotel_container .book_hotel_internal_container .acceptance_box {
  padding: 10px;
  margin-top: 10px;
}
.book_hotel_container .book_hotel_internal_container .acceptance_box .acceptance_internal {
  padding: 10px;
}
.book_hotel_container .book_hotel_internal_container .acceptance_box .acceptance_internal h3 {
  font-size: 20px;
  font-weight: bold;
}
.book_hotel_container .book_hotel_internal_container .features_box {
  margin-top: 80px;
}
.book_hotel_container .book_hotel_internal_container .features_box h2 {
  font-size: 25px;
  text-align: center;
}
.book_hotel_container .book_hotel_internal_container .features_box ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  place-content: center;
}
.book_hotel_container .book_hotel_internal_container .features_box ul li {
  height: 100px;
  width: 150px;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}
.book_hotel_container .book_hotel_internal_container .hotel_state_description .hotel_policy {
  padding: 10px;
}
.book_hotel_container .book_hotel_internal_container .hotel_state_description .hotel_policy ul {
  padding: 10px;
  list-style: circle;
}
.book_hotel_container .book_hotel_internal_container .hotel_state_description .hotel_policy ul li {
  margin: 10px;
}
.book_hotel_container .book_hotel_internal_container .google_map_directions {
  width: 100%;
  height: 300px;
  display: flex;
  place-content: center;
  place-items: center;
}
.book_hotel_container .book_hotel_internal_container .google_map_directions iframe {
  border: none;
}

.display_none {
  display: none;
}

.react-date-picker__wrapper {
  color: white;
}
.react-date-picker__wrapper .react-date-picker__clear-button {
  display: none;
}
.react-date-picker__wrapper .react-date-picker__inputGroup__input {
  color: white;
}

.adjust_global_width {
  max-width: 1920px;
}

.price_button {
  height: 50px;
  width: 120px;
  background-color: rgb(240, 234, 234);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 2px 10px rgb(158, 156, 156);
  font-size: 18px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.price_button span {
  font-size: 15px;
}
.price_button:hover {
  background-color: rgb(7, 146, 173);
  color: white;
}

.date_select {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 200px;
}
.date_select .react-date-picker__inputGroup {
  width: 120px;
}
.date_select .cool_time_display {
  position: absolute;
  left: 15%;
  top: 50%;
  background-color: none;
}
.date_select .cool_time_display p {
  font-size: 18px;
}

.mg_20 {
  margin-top: 20px;
}/*# sourceMappingURL=main.css.map */